

// COLOR
$color-black-1:#181818;
$color-black-2:#191919;
$color-pink:#b61984;
$color-white:#fff;
$color-slider:#dcd1f3;
$color-footer:#aa017e;

    

// FONT-SIZE
$fs-1:13px;
// fs của các thẻ header
$fs-2:16.5px;
// fs about us
$fs-3:57px;
// fs the lang...experts
$fs-4:11.25px;
// fs nation teacher
$fs-5:23.25px;
// fs name teacher
$fs-6:15px;
// fs describe teacher
$fs-7:37.5px;
// fs find your course
$fs-8:23.25px;
// fs title footer
$fs-9:13.5px;
// fs text contact us ql about newsletter


// FONT-WEIGHT
$fw-1:600;
// fw cảu các thẻ header
$fw-2:700;
// fw about us

// Padding
$pe-1: 50px;
// khoảng cách header
$py-1:15px;
$px-1:20px;
// padding số điện thoại header----// khoảng cách form find your course---
// padding hinh 2 nguoi
$ms-1:12px;
// khoảng cách giữa các icon social

$mb-1:8px;
// bottom about us

$px-2:30px;
// khoảng cách trái phải của image teacher
$mb-2:8px;
// bottom quốc gia image

$py-2:12px;
$ps-1:42px;
$pe-2:12px;
// padding name input-padding message input

$py-3:12px;
$ps-2:42px;
$pe-3:12px;
// padding email input

$pt-1:60px;
// khoảng cách tự mô tả giáo viên đến thẻ div chứa 2 phần bên trong

$px-3:25px;
// khoảng cách div bên trong form find your course

$pb-1:15px;
// bottom english form

$pt-2:20px;
// padding top send input

$pb-2:11px;
// padding bottom địa chỉ/sdt/ngày làm việc contact us

$pe-4:15px;
// khoảng cách giữa các icon contact us

$pb-3:12px;
// khoảng cách bottom của home QL và about us của About

$py-4:12px;
// khoảng cách quickLinks courses-schedules-blog
// khoảng cách about us even get quote contact

$p-1:15px;
// khoảng cách 4 phía của your email
$py-6:80px;

$py-5:120px;
// khoảng cách dưới footer và trên footer

$w-1:1260px;
$h-1:80px;


$height-content-left:50%;
$height-content:100%;
$width-content:100%;